.register {

    width: 360px;
    padding: 10.4% 0 2%;
    background-image: linear-gradient(to bottom right, rgb(241, 241, 245), rgb(194, 194, 241));
   
    font-family: 'Helvetica';
}


.form {
    background-image: linear-gradient(to bottom right, rgb(241, 241, 245), rgb(194, 194, 241));
    position: relative;
    z-index: 1;
    opacity: 0.99;
    
    border-radius: 7px;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 35px 45px 45px 45px;
    
    text-align: center;
}

.form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    border-radius: 5px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Helvetica';
}

.form input:focus {
    background: #dbdbdb;
}

.form .button {
    font-family: 'Helvetica';
    text-transform: uppercase;
    outline: 0;
    background: #4b6cb7;
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form .button:active {
    background: #395591;
}

.form span {
    font-size: 75px;
    color: #4b6cb7;
}

.form h2 {
    font-size: 35px;
    color: #153372;
    font-family: Copperplate,
        fantasy;
}

#register-form{
    padding: 0 0 0 0;
}

#form-id{
    padding: 15px 45px 0px 45px;

}