#nav-id{
    opacity: 0.9;
}


#btn-nav {
    background: #395591;
    color: white;
    opacity: 1;
    margin-top:1%;
    
    
}


/* .App-logo{
    width: 40px;
} */
h2{
    font-size: 35px;
    color:#153372;
    
    font-family: Copperplate,
    fantasy;
}

#search-outer{
    
    margin-bottom:0%;
    padding-left: 25%;
    padding-right:5%;
    padding-top: 4%;
    
}

#input-outer{
    
    padding-top:0.9%;
    width:50%;
}

#form1{
    border-width:5px;

}

#search-box{
    /* background-image: linear-gradient(to bottom right, rgb(38, 38, 59), rgb(27, 27, 80)); */
    margin-left: 25%;
    margin-right:18%;
    margin-top:5%;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}









