#post-card{
   padding:0 0 5px;
   background-image: linear-gradient(to bottom right, rgb(222, 222, 230), rgb(136, 135, 151));
   opacity:0.98;
   border-radius: 15px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
   0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
   
   
   
   
}

#outer-post{
    padding:0 20% 0 20%;
    
    
}