#thread-btn{
    background: #395591;
    
}


#full-btn{
    padding-left: 4%;
}

#thread-card {
    /* padding: 0 0 5px; */
    background-image: linear-gradient(to bottom, rgb(222, 222, 230), rgb(136, 135, 151));
    opacity: 0.98;
    /* border-radius: 15px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);






}

#outer-message {
    padding: 1% 6% 1% 4%;


}

#thread-box {
    background-image: linear-gradient(to bottom, rgb(222, 222, 230), rgb(127, 126, 136));
    width: 40%;
    margin: auto;
    border-radius: 5px;
    padding-bottom: 1%;



}



#thread-title {
    /* background-image: linear-gradient(to bottom, rgb(222, 222, 230), rgb(136, 135, 151)); */
    width: 100%;
    border-radius: 5px;
    font-size: 35px;
    color: #626469;
    font-family: Copperplate,
        fantasy;
    text-align: center;
    padding-top: 1%;


}


#thread-msg-card{
    padding: 1% 10% 0% 10%;
}

#message {
    border-radius: 0px 0px 10px 10px;
    background-image: linear-gradient(to bottom, rgb(222, 222, 230), rgb(127, 126, 136));
}

#thread-name{
    text-align: center;
    padding-top: 0.5%;
    color:rgb(6, 63, 82);
    /* background-image: linear-gradient(to bottom, rgb(222, 222, 230), rgb(127, 126, 136)); */
   
   

}




#thread-msg {
    
    background-image: linear-gradient(to bottom, rgb(241, 241, 247), rgb(148, 148, 168));
    outline: none;
    color: rgb(8, 7, 7);
    width: 100%;
    border-radius: 5px;
    height:50px;
}

#send-msg-btn {
    background: #395591;
    color: #FFF;
    width: 120px;
    height:45px;
    border-radius: 4px;
    margin-left: 35%;
    margin-top: 2%;
    
  
}

#input-msg-form {
    width: 100%;
    justify-content: center;
    padding:2% 30% 1% 30%;
   
    
}
